# Copyright 2023 The Pigweed Authors
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not
# use this file except in compliance with the License. You may obtain a copy of
# the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under
# the License.
#
# TODO: https://pwbug.dev/258836641#comment4: Enabling bzlmod breaks the build.
common --noenable_bzlmod

# TODO: https://pwbug.dev/319665090: Disable hermetic sandbox tmp due to issues
# with arm toolchain.
build --noincompatible_sandbox_hermetic_tmp

# Do not attempt to configure an autodetected (local) toolchain. We vendor all
# our toolchains, and CI VMs may not have any local toolchain to detect.
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

common --custom_malloc=//targets:malloc

# Ignore all warnings in third-party code.
common --per_file_copt=external/.*@-w
common --host_per_file_copt=external/.*@-w

# Required for new toolchain resolution API.
build --incompatible_enable_cc_toolchain_resolution

# Default targets to build when running:
# bazel build --config=presubmit
build:presubmit -- \
  //... \
  //examples/01_blinky:blinky \
  //examples/01_blinky:rp2040_blinky.elf \
  //examples/01_blinky:stm32_blinky.elf \
  //examples/02_unit_testing:test_runner_app \
  //examples/02_unit_testing:rp2040_test_runner_app.elf \
  //examples/02_unit_testing:stm32_test_runner_app.elf \
  //examples/03_rpc:rpc_main \
  //examples/03_rpc:rp2040_rpc_main.elf \
  //examples/03_rpc:stm32_rpc_main.elf

# Don't automatically create __init__.py files.
#
# This prevents spurious package name collisions at import time, and should be
# the default (https://github.com/bazelbuild/bazel/issues/7386). It's
# particularly helpful for Pigweed, because we have many potential package name
# collisions due to a profusion of stuttering paths like
# pw_transfer/py/pw_transfer.
common --incompatible_default_to_explicit_init_py

# Error output settings.
common --verbose_failures
test --test_output=errors
