# Copyright 2023 The Pigweed Authors
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not
# use this file except in compliance with the License. You may obtain a copy of
# the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under
# the License.
#
# TODO: https://pwbug.dev/258836641#comment4: Enabling bzlmod breaks the build.
common --noenable_bzlmod

# TODO: https://pwbug.dev/319665090: Disable hermetic sandbox tmp due to issues
# with arm toolchain.
build --noincompatible_sandbox_hermetic_tmp

# Do not attempt to configure an autodetected (local) toolchain. We vendor all
# our toolchains, and CI VMs may not have any local toolchain to detect.
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

common --custom_malloc=//targets:malloc

# Ignore all warnings in third-party code.
common --per_file_copt=external/.*@-w
common --host_per_file_copt=external/.*@-w

# Required for new toolchain resolution API.
build --incompatible_enable_cc_toolchain_resolution

# Expose exec toolchains for Python.
build --@rules_python//python/config_settings:exec_tools_toolchain=enabled

# Default targets to build when running:
# bazel build --config=presubmit
build:presubmit -- \
  //... \
  //tools:console \
  //tools:device_sim


# Don't automatically create __init__.py files.
#
# This prevents spurious package name collisions at import time, and should be
# the default (https://github.com/bazelbuild/bazel/issues/7386). It's
# particularly helpful for Pigweed, because we have many potential package name
# collisions due to a profusion of stuttering paths like
# pw_transfer/py/pw_transfer.
common --incompatible_default_to_explicit_init_py

# Error output settings.
common --verbose_failures
test --test_output=errors

# Config for the mimxrt595_evk_freertos freertos platform.
build:mimxrt595_evk_freertos --platforms=@pigweed//targets/mimxrt595_evk_freertos:platform
build:mimxrt595_evk_freertos --@pigweed//pw_assert:assert_backend=@pigweed//pw_assert_basic
build:mimxrt595_evk_freertos --@pigweed//pw_assert:assert_backend_impl=@pigweed//pw_assert_basic:impl
build:mimxrt595_evk_freertos --@pigweed//pw_assert:check_backend=@pigweed//pw_assert_basic
build:mimxrt595_evk_freertos --@pigweed//pw_assert:check_backend_impl=@pigweed//pw_assert_basic:impl
build:mimxrt595_evk_freertos --@freertos//:freertos_config=@pigweed//targets/mimxrt595_evk_freertos:freertos_config
build:mimxrt595_evk_freertos --@pigweed//pw_log:backend=@pigweed//pw_log_basic
build:mimxrt595_evk_freertos --@pigweed//pw_log:backend_impl=@pigweed//pw_log_basic:impl
build:mimxrt595_evk_freertos --@pigweed//pw_sys_io:backend=@pigweed//pw_sys_io_mcuxpresso
build:mimxrt595_evk_freertos --@pigweed//targets:mcuxpresso_sdk=@mcuxpresso_sdk//:sdk
build:mimxrt595_evk_freertos --@pigweed//pw_sync:binary_semaphore_backend=@pigweed//pw_sync_freertos:binary_semaphore
build:mimxrt595_evk_freertos --@pigweed//pw_sync:counting_semaphore_backend=@pigweed//pw_sync_freertos:counting_semaphore
build:mimxrt595_evk_freertos --@pigweed//pw_sync:interrupt_spin_lock_backend=@pigweed//pw_sync_freertos:interrupt_spin_lock
build:mimxrt595_evk_freertos --@pigweed//pw_sync:mutex_backend=@pigweed//pw_sync_freertos:mutex
build:mimxrt595_evk_freertos --@pigweed//pw_sync:thread_notification_backend=@pigweed//pw_sync_freertos:thread_notification
build:mimxrt595_evk_freertos --@pigweed//pw_sync:timed_thread_notification_backend=@pigweed//pw_sync_freertos:timed_thread_notification
build:mimxrt595_evk_freertos --@pigweed//pw_thread:id_backend=@pigweed//pw_thread_freertos:id
build:mimxrt595_evk_freertos --@pigweed//pw_thread:iteration_backend=@pigweed//pw_thread_freertos:thread_iteration
build:mimxrt595_evk_freertos --@pigweed//pw_thread:sleep_backend=@pigweed//pw_thread_freertos:sleep
build:mimxrt595_evk_freertos --@pigweed//pw_thread:test_thread_context_backend=@pigweed//pw_thread_freertos:test_thread_context
build:mimxrt595_evk_freertos --@pigweed//pw_thread:thread_backend=@pigweed//pw_thread_freertos:thread
build:mimxrt595_evk_freertos --@pigweed//pw_thread:yield_backend=@pigweed//pw_thread_freertos:yield
build:mimxrt595_evk_freertos --@pigweed//pw_boot:backend=@pigweed//pw_boot_cortex_m:armv8m
build:mimxrt595_evk_freertos --@pigweed//pw_system:extra_platform_libs=@pigweed//targets/mimxrt595_evk_freertos:extra_platform_libs
build:mimxrt595_evk_freertos --strip=never

# User bazelrc file; see
# https://bazel.build/configure/best-practices#bazelrc-file
#
# Note: this should be at the bottom of the file, so that user-specified
# options override anything in this file
# (https://bazel.build/run/bazelrc#imports)
try-import %workspace%/user.bazelrc
