[submodule "third_party/pigweed"]
	path = third_party/pigweed
	url = https://github.com/antmicro/pigweed.git
	branch = main
[submodule "third_party/FreeRTOS"]
	path = third_party/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
